<%= simple_form_for(cliente, :html => {:multipart => true}) do |f| %>

<div class="row">
  <%= f.input :nome, wrapper: :material, wrapper_html: {class: 'col-md-8'} %>
  <%= f.input :data_nascimento, wrapper: :material, as: :localized, label: 'Data nascimento', placeholder: 'Data Prevista', wrapper_html: {class: 'col-md-2'}, input_html: {class: "date_field date-picker"} %>
  <%#= f.input :data_nascimento, wrapper: :material, wrapper_html: {class: 'col-md-2'}, input_html: {:maxlength => 5, :"data-mask" => "00/00/0000"}  %>
  <%= f.input :cpf, wrapper: :material, wrapper_html: {class: 'col-md-2'}, input_html: { :maxlength => 15, :"data-mask" => "000.000.000-00" } %>
</div>

<div class="row">
  <%= f.input :email, wrapper: :material, as: :email, wrapper_html: {class: 'col-md-4'} %>
  <%= f.input :telefone, wrapper: :material, wrapper_html: {class: 'col-md-2'}, input_html: { :maxlength => 15, :"data-mask" => "(00) 00000-0000" } %>
  <%= f.input :cidade, wrapper: :material, wrapper_html: {class: 'col-md-4'}, input_html: { :value => "Teresina"} %>
  <%= f.input :uf, wrapper: :material, wrapper_html: {class: 'col-md-2'}, input_html: { :value => "PI" } %>
</div>

<div class="row">
  <%= f.input :endereco, wrapper: :material, as: :text, label: 'Endereço',
  input_html: { cols: "40", rows: "2" },
  wrapper_html: {class: 'col-md-9'} %>
  <%= f.input :bairro, wrapper: :material, wrapper_html: {class: 'col-md-3'}%>
</div>

<div class="row">
  <%= f.input :observacao, wrapper: :material, as: :text, label: 'Observações',
  placeholder: 'Escreva aqui alguma informação adicional sobre esse lançamento',
  input_html: { cols: "50", rows: "3" },
  wrapper_html: {class: 'col-md-12'} %>
</div>

<div class="row">
  <button class="btn btn-primary" type="submit">Salvar</button>
  <%= link_to "Cancelar", :back, class: 'btn btn-default' %>
  <%= link_to "Apagar", @cliente,
  method: :delete,
  class: 'btn btn-danger pull-right',
    data: { confirm: 'Tem certeza que quer apagar?' } if @cliente.persisted? %>
  </div>

  <% end %>
