<div class="card">

	<div class="card-header">
		<h1>
			<i class="zmdi zmdi-pin-account zmdi-hc-fw"></i> <%= @cliente.nome %>
		</h1>

		<% if notice.present? %>
		<div class="card-body card-padding">
			<div class="alert <% if notice = 'Nome já cadastrado no sistema.' %> alert-danger <% else %> alert-success <% end %>alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				<%= notice %>
			</div>
		</div>
		<% end %>
	</div>
	<div class="card-body card-padding">
		<div class="row">
			<div class="col-md-7 col-sm-6 p-5 m-t-5 m-b-15">
				<div class="table-responsive">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th colspan=2 class="text-left cg-list cgl-main palette-Teal bg c-white">Dados </th>
							</tr>
						</thead>
						<tbody class="cg-list dark palette-Blue-Grey-50 bg">
							<tr>
								<td><i class="zmdi zmdi-flower"></i> Data Aniversário</td>
								<td><% if @cliente.data_nascimento.present? %> <%= @cliente.data_nascimento %><% else %><mark> <i> Não informado </i></mark> <% end %></td>
							</tr>
							<tr>
								<td><i class="zmdi zmdi-city"></i> Cidate-UF</td>
								<td><%= @cliente.cidade %>-<%= @cliente.uf %></td>
							</tr>
							<tr>
								<td><i class="zmdi zmdi-phone"></i> Telefone</td>
								<td><% if @cliente.telefone.present? %> <%= @cliente.telefone %> <% else %> <small><i>Não informado</i></small> <% end %></td>
							</tr>
							<tr>
								<td><i class="zmdi zmdi-account-box"></i> CPF</td>
								<td><% if @cliente.cpf.present? %> <%= @cliente.cpf %> <% else %> <small><i>Não informado</i></small><% end %></td>
							</tr>
							<tr>
								<td><i class="zmdi zmdi-account"></i> Email</td>
								<td> <% if @cliente.email.present? %> <%= @cliente.email %><% else %> <small><i>Não informado</i></small> <% end %></td>
							</tr>
							<tr>
								<td><i class="zmdi zmdi-local-offer"></i> Endereço</td>
								<td><% if @cliente.endereco.present? %> <%= @cliente.endereco %> <% else %> <small><i>Não informado</i></small><% end %></td>
							</tr>
							<tr>
								<td><i class="zmdi zmdi-local-offer"></i> Bairro</td>
								<td><% if @cliente.bairro.present? %> <%= @cliente.bairro %> <% else %> <small><i>Não informado</i></small><% end %></td>
							</tr>
							<tr>
								<td><i class="zmdi zmdi-comment-alt"></i> Descrição</td>
								<td><%= @cliente.observacao %></td>
							</tr>
						</table>
					</div>
					<br>
					<%= link_to new_venda_path(cliente_id: @cliente), class: "btn btn-primary" do %>
					<i class="zmdi zmdi-plus-circle"></i> Nova venda
					<% end %>
					<%= link_to edit_cliente_path(@cliente), class: "btn btn-warning" do %>
					<i class="zmdi zmdi-edit"></i> Editar
					<% end %>
					<%= link_to clientes_path, class: "btn btn-default" do %>
					<i class="zmdi zmdi-long-arrow-return"></i> Voltar
					<% end %>
					<%= link_to @cliente, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger pull-right" do %>
					<span class="zmdi zmdi-delete"></span> Excluir
					<% end %>
					<br>
				</div>
				<div class="col-md-5 col-sm-6 p-5 m-t-5 m-b-15">
					<div class="table-responsive">
						<table class="table table-condensed">
							<thead>
								<tr>
									<th colspan=2 class="text-left cg-list cgl-main palette-Teal bg c-white">Programa fidelidade</th>
								</tr>
							</thead>
							<tbody class="cg-list dark palette-Blue-Grey-50 bg">
								<tr>
									<td>Compras realizadas</td>
									<td><%= @cliente.vendas.count %></td>
								</tr>
								<% @total = Movimento.ver_pontuacao(@cliente) %>
								<tr class="<%= fidelidade_cont(@total, @fidelidade.fidelidade_valor) %>">
									<td>Pontos do cliente <small><i>(<%= @fidelidade.fidelidade_valor %> para desconto)</small></i></td>
									<td>
										<% if @total != @fidelidade.fidelidade_valor %>
										<%= @total %>
										<% elsif @total == @fidelidade.fidelidade_valor %>
										<strong>Pontuação alcançada! <%= @pontos_fidelidade %></strong>
										<%= link_to new_fidelidade_path(cliente_id: @cliente), class: "btn btn-primary btn-xs" do %>
										Validar desconto
										<% end %>
										<% end %>
									</td>
								</tr>
								<tr>
									<td>Fidelidade registradas</td>
									<td><%= @cliente.fidelidade.count %></td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="action-header clearfix palette-Teal-400 bg">
			<div class="ah-label hidden-xs palette-White text">Últimas 20 compras</div>
			<div class="ah-search">
				<input type="text" placeholder="Start typing..." class="ahs-input">
				<i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
			</div>
			<ul class="ah-actions actions a-alt">
				<li>
					<a href="" class="ah-search-trigger" data-ma-action="ah-search-open">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
				<li class="dropdown">
					<a href="" data-toggle="dropdown" aria-expanded="true">
						<i class="zmdi zmdi-sort"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li>
							<%= link_to 'Data', cliente_path(order: "created_at") %>
						</li>
						<li>
							<%= link_to 'Descrição', cliente_path(order: "descricao") %>
						</li>

					</ul>
				</li>
				<li class="dropdown">
					<a href="" data-toggle="dropdown" aria-expanded="false">
						<i class="zmdi zmdi-more-vert"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li>
							<a href="">Refresh</a>
						</li>
						<li>
							<a href="">Listview Settings</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="card-body card-padding">
			<% ver_promissorias.each do |cp| %>
			<div class="p-timeline">
				<div class="pt-line c-gray text-right">
					<span class="d-block"><strong><%= cp.created_at.year %></strong></span>
					<%= l cp.created_at, format: :resum %><br>
					<%= l cp.created_at, format: :hora %>
				</div>

				<div class="pt-body">
					<h2 class="ptb-title">
						<%= cp.descricao %>
					</h2>
					<div class="lightbox clearfix">
						<p class="">
							Valor total da compra: <strong><%= cp.valor_total %></strong><br>
						</p>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
