<div class="c-header">
  <h2>Clientes</h2>
</div>

<div class="card">

   <div class="card-header">
      <h2>Cadastrar novo usuário <small>formulário para cadastro de novo usuário</small></h2>
   </div>

 <div class="card-body card-padding">


   <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
     <%= devise_error_messages! %>
   
     <div class="form-group  col-sm-9 fg-float m-b-30">
       <div class="fg-line">
         <%= f.text_field :email, class: "form-control" %>
         <%= f.label :email, "Email", class: "fg-label" %>
       </div>
     </div>
   
     <div class="form-group  col-sm-9 fg-float m-b-30">
       <%= f.label :password %>
       <% if @minimum_password_length %>
       <em>(<%= @minimum_password_length %> caracteres minimos)</em>
       <% end %><br />
       <div class="fg-line">
         <%= f.password_field :password, class: "form-control" %>
         <%= f.label :email, "Senha", class: "fg-label" %>
       </div>
     </div>
   
     <div class="form-group  col-sm-9 fg-float m-b-30">
       <div class="fg-line">
         <%= f.password_field :password_confirmation, class: "form-control" %>
         <%= f.label :password_confirmation, "Repita a senha", class: "fg-label" %>
       </div>
     </div>
   
   
     <div class="form-group  col-sm-9 fg-float m-b-30">
       <%= f.submit "Entrar", class: 'btn btn-default' %>
     </div>
   
   <%= render "devise/shared/links" %>
   
   <% end %>
 </div>
</div>
