<%= simple_form_for(configuracao, multipart: true) do |f| %>

<% if configuracao.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(configuracao.errors.count, "erro") %></h2>

  <ul>
    <% configuracao.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <%= f.input :fidelidade_valor, wrapper: :material, wrapper_html: {class: 'col-md-4'} %>
</div>

<div class="row">
  <button class="btn btn-primary" type="submit">Salvar</button>
  <%= link_to "Cancelar", :back, class: 'btn btn-default' %>
</div>

<% end %>
