<div class="c-header">
  <h2>Categoria de despesas</h2>
</div>

<div class="card">

  <div class="card-header">
    <h2>Cadastrar nova categoria <small>Formulário para cadastro de nova categoria</small></h2>
  </div>

  <div class="card-body card-padding">
    <%= render 'form', categoriamovimento: @categoriamovimento %>
  </div>
</div>
