
<div class="c-header">
  <h2>Página Inicial</h2>
</div>
<% if notice.present? %>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  <%= notice %>
</div>
<% end %>

<div class="col-md-6">
  <div class="card">
    <div class="card-header cw-header palette-Teal-600 bg">
      <div class="cwh-day"><i class="zmdi zmdi-flower-alt zmdi-hc-fw"></i> Aniversariantes do dia </div>
    </div>

    <div class="card-body card-padding-sm">
      <% if @aniversariantes.present? %>
      <% @aniversariantes.each do |a| %>
      <div class="list-group-item media">
        <div class="pull-left">
          <div class="avatar-char ac-check">
            <input class="acc-check" type="checkbox" checked="">
            <span class="acc-helper palette-Light-Blue bg">P</span>
          </div>
        </div>
        <div class="media-body">
          <div class="lgi-heading"><%= a.nome %></div>
          <small class="lgi-text"><%= a.email %> - <%= a.telefone %></small>
        </div>
      </div>
      <% end %>
      <% else %>
      <br>
      <center><i>Nenhum aniversariante hoje</i></center>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="card">
    <div class="card-header cw-header palette-Teal-600 bg">
      <div class="cwh-day"><i class="zmdi zmdi-flower-alt zmdi-hc-fw"></i> Aniversariantes da semana </div>
    </div>

    <div class="card-body card-padding-sm">
      <% if @aniversariantes_semana.present? %>
      <% @aniversariantes_semana.each do |a| %>
      <div class="list-group-item media">
        <div class="pull-left">
          <div class="avatar-char ac-check">
            <input class="acc-check" type="checkbox" checked="">
            <span class="acc-helper palette-Light-Blue bg">P</span>
          </div>
        </div>
        <div class="media-body">
          <div class="lgi-heading"><%= a.nome %> <small>Dia: <%= l a.data_nascimento, format: "%d/%m" %></small></div>
          <small class="lgi-text"><%= a.email %> - <%= a.telefone %></small>
        </div>
      </div>
      <% end %>
      <% else %>
      <br>
      <center><i>Nenhum aniversariante nessa semana</i></center>
      <% end %>
    </div>
  </div>
</div>


<div class="col-md-6">
  <div class="card">
    <div class="card-header cg-list palette-Red-300 bg">
      <div class="cwh-day"><i class="zmdi zmdi-money-box zmdi-hc-fw"></i> Fidelidade a contemplar<br></div>
    </div>
    <div class="card-body card-padding-sm ">
      <% if @fidelidade.present? %>
      <% @fidelidade.each do |m| %>
      <% @fidelidade_total = Movimento.ver_pontos(m.total, m.nome) %>
      <% if @fidelidade_total == 4 %>
      <%= link_to clientes_fidelidade_busca_path(cliente: m.nome) do %>
      <div class="list-group-item media">
        <div class="pull-left">
          <div class="avatar-char palette-Red-400 bg">F</div>
        </div>
        <div class="media-body">
          <div class="lgi-heading"><%= m.nome %></div>
          <small class="lgi-text"> Pontuação: <%= @fidelidade_total %> </small>
        </div>
      </div>
      <% end %>
      <% end %>
      <% end %>
      <% else %>
    </div>
    <br>
    <center><i>Nenhuma despesa pendente essa semana</i></center>
    <% end %>
  </div>
</div>
</div>



</div>
