<%= simple_form_for(notum) do |f| %>

  <%= f.input :fornecedor %>
  <%= f.input :data_compra %>
  <%= f.input :valor_devolvido %>
  <%= f.input :valor_retirado %>
  <%= f.input :total %>
  <%= f.input :descricao %>

  <div class="row">
    <div class="form-group fg-float m-b-30">
      <%= f.submit "Salvar", class: 'btn btn-primary'%>
      <%= link_to 'Voltar', clientes_path,  :class => "btn btn-default", :data => { :target => "#indicacaos" } %>
    </div>
  </div>
<% end %>
