<p id="notice"><%= notice %></p>

<h1>Nota</h1>

<table>
  <thead>
    <tr>
      <th>Fornecedor</th>
      <th>Data compra</th>
      <th>Valor devolvido</th>
      <th>Valor retirado</th>
      <th>Total</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nota.each do |notum| %>
      <tr>
        <td><%= notum.fornecedor %></td>
        <td><%= notum.data_compra %></td>
        <td><%= notum.valor_devolvido %></td>
        <td><%= notum.valor_retirado %></td>
        <td><%= notum.total %></td>
        <td><%= notum.descricao %></td>
        <td><%= link_to 'Show', notum %></td>
        <td><%= link_to 'Edit', edit_notum_path(notum) %></td>
        <td><%= link_to 'Destroy', notum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notum', new_notum_path %>
