<div class="card">

  <div class="card-header">
    <h2>
      Fornecedores cadastrados
      <%= link_to new_fornecedor_path, class: 'btn btn-primary pull-right' do %>
      <span class='zmdi zmdi-plus-circle'></span> Novo Fornecedor
      <% end %>
    </h2>
  </div>

  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Data cadastro</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @fornecedores.each do |fornecedor| %>
        <tr>
          <td><%= link_to fornecedor.nome, fornecedor %></td>
          <td><%= l fornecedor.created_at, format: :long %></td>
          <td>
            <%= link_to edit_fornecedor_path(fornecedor), class: 'btn btn-default btn-xs' do %>
              <span class="zmdi zmdi-edit"></span> Editar
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
