<%%= simple_form_for(<%= singular_table_name %>, multipart: true) do |f| %>

<%% if <%= singular_table_name %>.errors.any? %>
<div id="error_explanation">
  <h2><%%= pluralize(<%= singular_table_name %>.errors.count, "erro") %></h2>

  <ul>
    <%% <%= singular_table_name %>.errors.full_messages.each do |message| %>
    <li><%%= message %></li>
    <%% end %>
  </ul>
</div>
<%% end %>

<% attributes.each do |attrib| %>
	<%%= f.input :<%= attrib.column_name %> %>
<% end %>

<div class="row">
  <button class="btn btn-primary" type="submit">Salvar</button>
  <%%= link_to "Cancelar", :back, class: 'btn btn-default' %>
  <%%= link_to "Apagar", @<%= singular_table_name %>,
  method: :delete,
  class: 'btn btn-danger pull-right',
  data: { confirm: 'Tem certeza que quer apagar?' } if @<%= singular_table_name %>.persisted? %>
</div>

<%% end %>
