
<div class="card">
  <div class="card-header">
    <h2>Nova Notafornecedor</h2>
  </div>

  <div class="card-body card-padding">
    <%= render 'form', notafornecedor: @notafornecedor %>
  </div>
</div>
