<%= form_for(modopagamento) do |f| %>
  <% if modopagamento.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% modopagamento.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="row">
    <div class="form-group  col-sm-9 fg-float m-b-30">
      <div class="fg-line">
        <%= f.text_field :tipo, class: "form-control" %>
        <%= f.label :tipo, "Tipo de pagamento", class: "fg-label" %>
      </div>
    </div>

    <div class="form-group  col-sm-5 fg-float m-b-30">
      <div class="fg-line">
        <%= f.text_field :porcentagem, class: "form-control" %>
        <%= f.label :porcentagem, "Porcentagem do desconto", class: "fg-label" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group fg-float m-b-30">
      <%= f.button 'Salvar', class: "btn btn-primary btn-lg" %>
      <%= link_to 'Voltar', modopagamentos_path, class: "btn btn-default" %>
    </div>
  </div>

  <% end %>
