
<div class="card">

  <div class="card-header">
    <h2>Visualizar modo de pagamento <small>Visualização individual do modo de pagamento</small></h2>
  </div>

  <div class="card-body card-padding">

<% if notice.present? %>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  <%= notice %>
</div>
<% end %>

<p>
  <strong>Tipo:</strong>
  <%= @modopagamento.tipo %>
</p>

<p>
  <strong>Porcentagem:</strong>
  <%= @modopagamento.porcentagem %>
</p>

<%= link_to 'Editar', edit_modopagamento_path(@modopagamento), class: "btn btn-warning" %>
<%= link_to 'Voltar', modopagamentos_path, class: "btn btn-default" %>
