<%= form_for(movimento) do |f| %>
  <% if movimento.errors.any? %>
  <div id="error_explanation">

    <ul>
      <% movimento.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">

    <%= f.hidden_field :cliente_id %>

    <div class="form-group  col-sm-2 fg-float m-b-30">
      <div class="fg-line">
        <%= f.label :valor_previsto, "Valor previsto", class: "fg-label" %>
        <%= f.text_field :valor_previsto, :class => "form-control decimal_field", :maxlength => 22 %>
      </div>
    </div>

    <div class="form-group  col-sm-2 fg-float m-b-30">
      <div class="fg-line">
        <%= f.label :data_prevista, class: "fg-label" %>
        <%= f.text_field :data_prevista, class: "form-control date-picker" %>
      </div>
    </div>

    <div class="form-group  col-sm-2 fg-float m-b-30">
      <div class="fg-line">
        <%= f.label :valor_realizado, "Valor realizado", class: "fg-label" %>
        <%= f.text_field :valor_realizado, class: "form-control decimal_field" %>
      </div>
    </div>
    <div class="form-group  col-sm-3 fg-float m-b-30">
      <div class="fg-line">
        <%= f.label :data_realizado, "Data pago", class: "fg-label" %>
        <%= f.text_field :data_realizado, class: "form-control date-picker" %>
      </div>
    </div>

    <div class="form-group  col-sm-4 fg-float m-b-30">
      <div class="fg-line">
        <%= f.label :descricao, "Descrição", class: "fg-label" %>
        <%= f.text_area :descricao, class: "form-control" %>
      </div>
    </div>

    <div class="form-group col-sm-3 m-b-15">
      <div class="fg-line">
        <%= f.collection_select :categoriamovimento_id, @categoria, :id, :nome, {:prompt => 'Escolha a categoria'}, {:class => "selectpicker",  :"data-live-search" => "true", :"data-placeholder" => "Escolha a categoria da despesa"}  %>
      </div>
    </div>

    <%= f.hidden_field :tipo, :value => "despesa" %>

    <div class="form-group  col-sm-2 fg-float m-b-30">
      <div class="fg-line">
        <%= f.label :desconto, "Houve desconto?", class: "fg-label" %>
        <%= f.text_field :desconto, class: "form-control", title: "Digite aqui o valor do desconto caso tenha havido" %>
      </div>
    </div>

    <div class="form-group  col-sm-9 fg-float m-b-30">
      <div class="fg-line">
        <%= f.button 'Salvar', class: "btn btn-primary btn-lg" %>
        <%= link_to 'Voltar', movimentos_path, class: "btn btn-default" %>
      </div>
    </div>
    <% end %>

  </div>
