<%= form_tag(movimentos_path, method: "get") do %>
<br>
<li>
  <div class="form-group  col-sm-6 fg-float m-b-30">
    <div class="fg-line">
      <%= label_tag :data_inicio, "Data inicio", class: "fg-label" %>
      <%= text_field_tag :data_inicio, params[:data_inicio], :class => "form-control datepicker",  :maxlength => 10, :"data-mask" => "00/00/0000"  %>
    </div>
  </div>
</li>
<li>
  <div class="form-group  col-sm-6 fg-float m-b-30">
    <div class="fg-line">
      <%= label_tag :data_fim, "Data fim", class: "fg-label" %>
      <%= text_field_tag :data_fim, params[:data_fim], :class => "form-control datepicker", :maxlength => 10, :"data-mask" => "00/00/0000"  %>
    </div>
  </div>
</li>
<li>

  <div class="form-group  col-sm-6 fg-float m-b-30">
    <div class="fg-line">
      <label for="do_tipo">Tipo</label>
      <% [["Receita", "receita"], ["Despesa", "despesa"]].each do |item| %>
      <div class="checkbox">
        <label>
          <%= check_box_tag 'do_tipo[]', item[1], (params[:do_tipo] && params[:do_tipo].include?(item[1])) -%> <i class="input-helper"></i> <%= item[0] %>
        </label>
      </div>
      <% end %>
    </div>
  </div>
</li>
<li>
  <div class="form-group  col-sm-9 fg-float m-b-30">
    <div class="fg-line">
      <%= button_tag  class: "btn btn-primary" do %>
      <i class="zmdi zmdi-filter-list zmdi-hc-fw"></i> Filtrar
      <% end %>
    </div>
  </div>
</li>
<% end %>


<%= form_tag(movimentos_path, method: "get") do %>
<%= hidden_field_tag :data_inicio, Date.today.beginning_of_month %>
<%= hidden_field_tag :data_fim, Date.today.end_of_month %>
<li>
  <div class="form-group  col-sm-9 fg-float m-b-30">
    <div class="fg-line">
      <%= button_tag class: "btn btn-primary" do %>
      <i class="zmdi zmdi-calendar zmdi-hc-fw"></i> Movimento do Mes
      <% end %>
    </div>
  </div>
</li>
<% end %>

<%= form_tag(movimentos_path, method: "get") do %>
<%= hidden_field_tag :data_inicio, Date.today.beginning_of_week %>
<%= hidden_field_tag :data_fim, Date.today.end_of_week %>
<li>
  <div class="form-group  col-sm-9 fg-float m-b-30">
    <div class="fg-line">
      <%= button_tag  class: "btn btn-primary" do %>
      <i class="zmdi zmdi-view-week zmdi-hc-fw"></i> Movimentos da semana
      <% end %>
    </div>
  </div>
</li>
<% end %>
