
<script>
function verComprovante(id){
  location.href = "movimentos/comprovante?id=" + id
}
function editar(id){
  location.href = "movimentos/" + id
}
</script>

<div class="card">
  <div class="card-header text-center">
    <h2>MOVIMENTO DO CAIXA
      <small>
        <% if params[:data_inicio] == params[:data_fim] %>
        dia <%= params[:data_fim] %><br>
        Fernanda Bispo
        <% else %>
        período de <%= params[:data_inicio] %> a <%= params[:data_fim] %><br>
        Fernanda Bispo
        <% end %>
      </small>
    </h2>
    <ul class="actions">
      <li class="dropdown hidden-xs hidden-sm h-apps">
        <a data-toggle="dropdown" href="" aria-expanded="false">
          <i class="zmdi zmdi-search zmdi-hc-fw"></i>
        </a>
        <ul class="dropdown-menu pull-right">
          <%= render 'formsearch', movimento: @movimento %>
        </ul>
      </li>
    </ul>
  </div>

  <div class="padding">
    <% if notice.present? %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <%= notice %>
    </div>
    <% end %>
  </div>

  <div class="card-body card-padding">
    <div class="card-body">
      <table class="table i-table m-t-25 m-b-25">
        <thead class="text-uppercase">
          <tr>
            <th class="c-gray">Movimento Descrição</th>
            <th class="c-gray">Data</th>
            <th class="c-gray">Modo pagamento</th>
            <th class="c-gray">Fidelidade</th>
            <th class="highlight">Valor</th>
          </tr>
        </thead>

        <tbody class="text-uppercase">
          <% @movimentos.each do |movimento| %>
          <% if movimento.tipo == "receita" %>
          <tr>
            <td class="text-success">
              <strong><% if movimento.cliente.present? %> Cliente: <%= movimento.cliente.nome %> <% else %> <%= movimento.descricao %> <% end %></strong>
              <% if movimento.descricao.present? %><small class="text-lowercase"><i>(<%= movimento.descricao %>)</i></small><% end %>
            </td>
            <td class="text-left"><%= movimento.data_realizado %></td>
            <td class="text-lowercase"><i> <% if movimento.modopagamento.present? %> <%= movimento.modopagamento.tipo %><% else %> não definido <% end %></i></td>
            <td> <% if movimento.fidelidade %> <i class="zmdi zmdi-check-circle zmdi-hc-fw"></i> <% else %> <i class="zmdi zmdi-check-circle zmdi-hc-fw"></i> <% end %> </td>
            <td class="highlight">
              <button onclick="editar(<%= movimento.id %>)" class="btn-link">
                <%= movimento.valor_realizado %> <span class="zmdi zmdi-edit"></span>
              </button>
            </td>
          </tr>
          <% else %>
          <tr >
            <td class="text-danger">
              <a href="#" onclick="editar(<%= movimento.id %>)" class=" text-danger">
                <% if movimento.categoriamovimento.present? %><strong> Categoria: <%= movimento.categoriamovimento.nome %> </strong><% end %>
                <span class="zmdi zmdi-eye"></span>
              </a>
              <small class="text-lowercase"><i>(<%= movimento.descricao %>)</i></small>
            </td>
            <td><%= movimento.data_realizado %></td>
            <td>-</td>
            <td class="highlight">-<%= movimento.valor_realizado %></td>
          </td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row m-t-25 p-0 m-b-25">
    <div class="col-xs-4">
      <div class="bgm-green brd-2 p-15">
        <div class="c-white m-b-5">Receita total | <%= @contreceita %></div>
        <h2 class="m-0 c-white f-300"><i class="zmdi zmdi-plus-circle"></i> <%= @totalreceita %></h2>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="bgm-red brd-2 p-15">
        <div class="c-white m-b-5">Despesa total | <%= @contdespesa %></div>
        <h2 class="m-0 c-white f-300"><i class="zmdi zmdi-minus-circle"></i> <%= @totaldespesa %></h2>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="bgm-green brd-2 p-15">
        <div class="c-white m-b-5">Saldo</div>
        <h2 class="m-0 c-white f-300"><i class="zmdi zmdi-money-box"></i> <%= @saldo %></h2>
      </div>
    </div>
  </div>
</div>
<footer class="m-t-15 p-20">
  <ul class="list-inline text-center list-unstyled">
    <li class="m-l-5 m-r-5"><small>contato@olhardedama.com</small></li>
    <li class="m-l-5 m-r-5"><small>(86) 9 9943-5814</small></li>
    <li class="m-l-5 m-r-5"><small>www.olhardedama.com</small></li>
  </ul>
</footer>
</div>
<button class="btn btn-float bgm-red m-btn" data-action="print"><i class="zmdi zmdi-print"></i></button>
