<div class="card">

  <div class="card-header">
    <h2>
      Vendas cadastrados
      <%= link_to new_venda_path, class: 'btn btn-primary pull-right' do %>
      <span class='zmdi zmdi-plus-circle'></span> Nova Venda
      <% end %>
    </h2>
  </div>

  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Data cadastro</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @vendas.each do |venda| %>
        <tr>
          <td><%= link_to venda.data_venda, venda %></td>
          <td><%= l venda.created_at, format: :long %></td>
          <td>
            <%= link_to edit_venda_path(venda), class: 'btn btn-default btn-xs' do %>
              <span class="zmdi zmdi-edit"></span> Editar
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
