<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title><%= app_name %> - Login</title>
  <%= stylesheet_link_tag  'login', media: 'all'  %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
</head>

<body>
  <div class="login" data-lbg="<%= tema_app %>">
    <!-- Login -->
    <div class="l-block toggled" id="l-login">
      <div class="lb-header palette-Teal bg">
        <i class="zmdi zmdi-account-circle"></i>
        Olá, entre com o seu email e senha
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <%= notice %>

      <div class="lb-body">
        <div class="form-group fg-float">
          <div class="fg-line">
            <%= f.text_field :email, class: "input-sm form-control fg-input" %>
            <%= f.label :email, "Email", class: "fg-label" %>
          </div>
        </div>

        <div class="form-group fg-float">
          <div class="fg-line">
            <%= f.password_field :password, class: "input-sm form-control fg-input" %>
            <%= f.label :password, "Senha", class: "fg-label" %>
          </div>
        </div>

        <%= f.button 'Entrar', class: "btn btn-info btn-lg" %>
        <div class="m-t-20">
          <a data-block="#l-forget-password" data-bg="purple" href="" class="palette-Teal text">Esqueceu a senha?</a>
        </div>
      </div>
      <% end %>
    </div>

    <!-- Forgot Password -->
    <div class="l-block" id="l-forget-password">
      <div class="lb-header palette-Purple bg">
        <i class="zmdi zmdi-account-circle"></i>
        Esqueceu a senha?
      </div>

      <div class="lb-body">
        <p class="m-b-30">Lorem ipsum dolor fringilla enim feugiat commodo sed ac lacus.</p>

        <div class="form-group fg-float">
          <div class="fg-line">
            <input type="text" class="input-sm form-control fg-input">
            <label class="fg-label">Email Address</label>
          </div>
        </div>

        <div class="m-t-30">
          <a data-block="#l-login" data-bg="teal" class="palette-Purple text d-block m-b-5" href="">Já tem uma conta existente?</a>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- footer -->
<footer id="footer">
  Copyright &copy; 2016 Olhar de Dama
</footer>
</section>

<!-- Page Loader -->
<div class="page-loader palette-Teal bg">
  <div class="preloader pl-xl pls-white">
    <svg class="pl-circular" viewBox="25 25 50 50">
      <circle class="plc-path" cx="50" cy="50" r="20"/>
    </svg>
  </div>
</div>
<%= javascript_include_tag 'application' %>

</html>
