<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= app_name %></title>
  <%= stylesheet_link_tag  'application', media: 'all'  %>
  <% if request.path == "/estatisticas" %>
  <%= javascript_include_tag "//www.google.com/jsapi" %>
  <%= javascript_include_tag 'application' %>
  <% end %>
</head>

<body data-ma-header="<%= tema_app %>">
  <%= render 'layouts/header' %>
  <section id="main">
    <%= render 'layouts/sidebar' %>
    <%= render 'layouts/menu' %>
    <!-- content -->
    <section id="content">
      <div class="container">
        <%#= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </section>
    <!-- end content -->
  </body>

  <%= render 'layouts/footer' %>
  </html>
